.ResetPassword span
{
    font-family: sans-serif;
    font-size: 12px;
    color: #d63230;
    cursor: pointer;
}
.ResetPassword span:hover
{
    color: #cc0401;
}
.cotanct div
{
    background-color: #3b6ab3;
    color: white;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 10px;
    text-align: center;
    padding: 10px 2px;
    border-radius: 7px;
    margin: 10px 20px; 
}
fa-icon
{
    position:absolute;
    left:60%;
    top:47.1%; 
}

@media only screen and (max-width: 1256px)
{
    fa-icon
    {
        position:absolute;
        left:62%;
        top:53.7%;
    }
}
@media only screen and (max-width: 977px)
{
    fa-icon
    {
        position:absolute;
        left:65.4%;
    }
}
@media only screen and (max-width: 576px)
{
    fa-icon
    {
        position:absolute;
        left:76.4%;
    }

}