<mat-sidenav-container>
    <mat-sidenav mode="side" opened=true>
      <div class="SmallLogo"></div>
      <div class="EspaceClient"><mat-icon class="icons">home</mat-icon><span
          matBadge="1" matBadgeOverlap="false" matBadgePosition="below after">Espace
          Client</span></div>
      <span class="span">MENU</span>
      <div class="nav">
        <label for="btn" class="button">
          <mat-icon class="icons" routerLink="/Saisir-facutre">inventory</mat-icon><span>Facture</span>
        </label>
        <label for="btn-2" class="button">
          <mat-icon class="icons">language</mat-icon><span>Statistiques</span><mat-icon
            class="icons icon">expand_more</mat-icon>
        </label>
        <input type="checkbox" id="btn-2" name="R1" value="1">
        <ul class="menu">
          <li><a routerLink="/Statistique">Statistique</a></li>
        </ul>
        <label for="btn-3" class="button">
          <mat-icon class="icons">description</mat-icon><span>Mes factures</span><mat-icon
            class="icons icon">expand_more</mat-icon>
        </label>
        <input type="checkbox" id="btn-3" name="R1" value="1">
        <ul class="menu">
          <li><a href="#">Home</a></li>
        </ul>
        <label for="btn-4" class="button">
          <mat-icon class="icons">info</mat-icon><span>Supports</span><mat-icon
            class="icons icon">expand_more</mat-icon>
        </label>
        <input type="checkbox" id="btn-4" name="R1" value="1">
        <ul class="menu">
          <li><a href="#">Home</a></li>
        </ul>
        <label>
          <mat-icon class="icons">chat_bubble_outline</mat-icon>Ouvrir une demande
        </label>
        <label>
          <mat-icon class="icons">attach_money</mat-icon>affiliés
        </label>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-add-product (onAddProduct)=addProduct($event)></app-add-product>
    </mat-sidenav-content>
</mat-sidenav-container>
