
.containerForm
{
    max-width:730px;
    min-height: 80%;
    margin:25px auto;
    background-color: #F1F3F7;
    padding: 20px;
    border-radius: 8px;
}

.containerForm .formControlPrix input
{
    width:40%;
    margin: 0 25px;
}
.formControl input,.formControlName input
{
    margin-bottom: 0;
    margin-top: 0;
}
.blocImage
{
    font-family: sans-serif;
    font-weight: bold;
    color:rgb(87, 87, 87);
}
.formButton
{
    margin: 5px 178px;
}
.formButton .rightbtn
{
    background-color:#F1F3F7 ;
}
.formButton .rightbtn:hover
{
    color:grey
}